<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="libs/css/bootstrap-3.3.6-dist/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Exo+2:400,600&amp;subset=latin,cyrillic">
    <link rel='stylesheet' href='css/front/style.css'>
  </head>
  <body>
    <header>
      <div class="container-fluid">
        <!-- <div class="row">
          <div class="col-md-12" id="logo">
            <a href="#">BomberMan!</a>
          </div>
        </div> -->
        <div class="row">
          <div class="col-md-8">
            <nav class="list">
              <li><a href="/">О проекте</a></li>
              <li><a href="/learn">Обучение / Механика</a></li>
              <li><a href="/patches">Патчи</a></li>
              <li><a href="/leaders">Лидеры</a></li>
              <li><a href="/forum">Форум</a></li>
            </nav>
          </div>
          <div class="col-md-4">
            <nav class="sign">
              <ul>
                <li><a href="/game">Вход</a></li>
                <li><a href="#">Регистрация</a></li>
                <li><a href="/contact">Контакты</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </header>
    <div class="container-fluid">