<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Exo+2:400,600&subset=latin,cyrillic">
  <link rel='stylesheet' href='css/game/style.css'>
</head>
<body>
  <div class="container-fluid">
    <div id="game">
      
    </div>
  </div>
  <script src="libs/js/requirejs-2.2.0.min.js"  data-main="game"></script>
</body>
</html>